---
layout: default
---

<header>
  <h1>{{ page.title }}</h1>
</header>

{{ content }}

<footer>
  <p>
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {% include date.html %}
    </time>
  </p>
  <nav>
    <ul>
      <li>
        {% if page.next_in_category != nil %} 
          <a class="pagination-item older" href="{{page.next_in_category.url}}" title="{{page.next_in_category.title}}">До</a>
        {% else %}
          <span class="pagination-item older">До</span>
        {% endif %}
      </li>
      <li>
        {% if page.previous_in_category != nil %}
          <a class="pagination-item newer" href="{{page.previous_in_category.url}}" title="{{page.previous_in_category.title}}">После</a>
        {% else %}
          <span class="pagination-item newer">После</span>
        {% endif %}
      </li>
    </ul>
  </nav>
</footer><!-- end of post footer -->
